{% extends "layout.html" %}
{% block body %}

  {% if session.admin %}
  	<h2>Event Creator</h2>
    <form action="{{ url_for('create_event') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Officer:
        <dd><input type=text name=officer>
        <dt>About:
        <dd><textarea name=about rows=10 cols=60></textarea>
        <dt>URL:
        <dd><input type=text name=url>
        <br><br>
        <dd><input class=button type=submit value=Create>
      </dl>
    </form>
    <h2>Event Deleter</h2>
    <form action="{{ url_for('delete_event') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>URL:
        <dd><input type=text name=url>
        <br><br>
        <dd><input class=button type=submit value=Delete>
      </dl>
    </form>
  {% endif %}
  <h2>Events</h2>
  <ul class=entries>
  {% for event in events %}
    <li><h2>{{ event.title }}</h2>
    	<ul class=entry>
    		<li>Officer: {{ event.officer }}
    		<li>URL: <a href="{{request.url_root}}events/{{ event.url }}/dashboard">{{ event.url }}</a>
    		<li>Participant Count: {{ event.participantCount }}
    		
    		
    	</ul>
  {% else %}
    <li><em>Unbelievable.  No events here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
