<!doctype html>
<head>
<title>Sign-In UCSD</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='w3.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class=page>
  <h1>Sign-In UCSD</h1>
  <div class=metanav>
  <ul>
  	<li><a href="{{ url_for('create_event') }}">Events</a></li>
  	<li><a href="{{ url_for('show_users') }}">Users</a></li>
  {% if not session.logged_in %}
    <li class="last"><a href="{{ url_for('login', next=request.path) }}">Log In</a></li>
  {% else %}
    <li class="last"><a href="{{ url_for('logout', next=request.path) }}">Log Out</a></li>
  {% endif %}
  </ul>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
