{% extends "layout.html" %}
{% block body %}
<h2>Admin Registration</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('register_admin') }}" method=post>
    <dl>
      <dt>First Name:
      <dd><input type=text name=firstName>
      <dt>Last Name:
      <dd><input type=text name=lastName>
      <dt>UCSD Email:
      <dd><input type=text name=ucsdEmail>
      <dt>Password:
      <dd><input type=password name=password>
      <dd><input type=submit value=Register>
    </dl>
  </form>
{% endblock %}
