{% extends "layout.html" %}
{% block body %}

  {% if session.logged_in %}
  	<h2>Change User Access</h2>
    <form action="{{ url_for('update_user') }}" method=post class=add-entry>
      <dl>
        <dt>UCSD Email:
        <dd><input type=text size=30 name=ucsdEmail>
        <dt>Access:
        <dd><input type=text name=access>
        <dd><input type=submit value=Change>
      </dl>
    </form>
    <h2>Delete User</h2>
    <form action="{{ url_for('delete_user') }}" method=post class=add-entry>
      <dl>
        <dt>UCSD Email:
        <dd><input type=text size=30 name=ucsdEmail>
        <dt>Confirm UCSD Email:
        <dd><input type=text size=30 name=ucsdEmailConfirm>
        <dd><input type=submit value=Delete>
      </dl>
    </form>
  {% endif %}
  <h2>Users</h2>
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.firstName }} {{ entry.lastName }}</h2>
    	<ul class=entry>
    		<li>First Name: {{ entry.firstName }}
    		<li>Last Name: {{ entry.lastName }}
    		<li>UCSD Email: {{ entry.ucsdEmail }}
    		<li>Access: {{ entry.access }}
    		<li>Project Space: {{ entry.projectSpace }}
    	</ul>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
